
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>本地新浪博客</title>
    <meta name="keywords" content="blog,博客,blog博客,blog博客新闻,blog博客资讯,blog博客信息,新浪blog博客">
    <meta name="description" content="新浪网博客频道是全中国最主流，最具人气的博客频道。拥有最耀眼的娱乐明星博客、最知性的名人博客、最动人的情感博客，最自我的草根博客!">
    <!--轮播图-->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/lunbotu/js/jquery.min.js"></script>
    <script src="/js/lunbotu/js/slide.js"></script>
    <!--轮播图-->
    <link rel="stylesheet" type="text/css" href="/test/css/css.css">
    <link rel="stylesheet" href="/js/lunbotu/css/font-awesome.css">
    <link rel="stylesheet" href="/js/lunbotu/css/style.css">
    <!-- 导入 jquery包  -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!--引入easyui的样式 -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/bootstrap-table/bootstrap-table.min.css" >
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" >
    <link href="/js/bootstrap-3.3.7-dist/bootstrap-select-1.12.4/css/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/uploadify/uploadify.css" />
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/js/uploadify/jquery.uploadify.js"></script>
    <link rel="stylesheet" href="/js/uploadify/uploadify.css">
    <script src="/js/layer/layer.js"></script>
    <!--layui-->
    <script src="/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">

    <script type="text/javascript" >
        ;(function(){
            var ua = navigator.userAgent;
            if(/AppleWebKit.*Mobile.*/i.test(ua) && /AppleWebKit/i.test(ua) && !/iPad/i.test(ua)){
                location.href = 'http://blog.sina.cn';
            }
        })();
        $(function(){
            querypinglunCount();
            querypinglun();
            queryImgInfo();
            //news1("娱乐");
            queryDaoHang();//导航栏
         var ss=$("#hid").val();
          if(ss==''){
               tcpinjie();
           }else if(ss!=''){
               pinjie();
           }
            getVipYuLu();
            getjunshi2();
            getYuLe2();
            getcaijing2();
            gettiyu2();
            meizhourenqi();
        })


        //查询评论数量
        function querypinglunCount() {
            var vipid = $("#vipid").val();
            //alert(vipid);
            if(vipid!=null&&vipid!=""){
                $.ajax({
                    url:"/pinglun/pingLunCount",
                    type:"POST",
                    success:function(result){
                        $("#spanid").html(result);
                    },
                    error:function(){
                        alert("失败了");
                    }
                });
            }
        }


        //查询评论
        function querypinglun() {
            var vipid = $("#vipid").val();

            var coun="";
            if(vipid!=null&&vipid!=""){
                $.ajax({
                    url:"/pinglun/querypingLunList",
                    type:"POST",
                    success:function(result){
                        if(result.length>0){
                            $.each(result,function(index,obj){
                                console.log(obj);
                                coun+='<dd style="width: 360px">'
                                coun+='<img src="'+obj.vipheadimg+'" class="layui-nav-img">'///title/toshowInfo?name='+obj.tablename+'&id='+obj.id+'
                                coun+='<font color="#a52a2a">'+obj.vipname+'</font><font color="black">评论了:</font><a href="/title/toshowInfo2?name='+obj.tablename+'&id='+obj.titleid+'&id2='+obj.id+'"><font color="blue">'+obj.title+'</font></a>';
                                coun+='</dd>'
                                coun+='<dd>'
                                coun+='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="black">评论内容:</font>&nbsp;<font color="green">'+obj.info+'</font>'
                                coun+='</dd>'
                            })
                            $("#pinglunid").html(coun);
                        }else{
                            coun+='<dd style="width: 360px"><font color="black">还没有人评论哦！</font></dd>';
                            $("#pinglunid").html(coun);
                        }
                    },
                    error:function(){
                        alert("失败了");
                    }
                });
            }else{
                coun+='<dd style="width: 360px"><font color="black" >请先登录！</font></dd>';
                $("#pinglunid").html(coun);
            }
        }

        //轮播图,查询url
        function queryImgInfo() {
            var flag="";
            $.ajax({
                url: "/img/queryImg",
                type: "POST",
                success: function (result) {

                    $.each(result,function (val,obj) {

                        flag+=' <li >'
                        flag+=' <a href="img/toshowInfo?tablename='+obj.tablename+'&titleid='+obj.titleid+'"><img width="640" height="410" src="'+obj.imgUrl+'"></a>'
                        flag+=' </li> '
                    })
                    $("#slider").html(flag);
                    startLunBo();
                },
                error: function () {
                    alert("失败了");
                }
            });
        }
        function news1(flag){
            var dd="";
            var ff=""
            $.ajax({
                url:"/http/news",
                type : "POST",
                data : {flag:flag},
                success : function(result) {
                    $.each(result,function(index,obj){
                        if(index<6){
                            dd+=' <li >'
                            dd+=' <i></i><a href='+obj.url+'>'+obj.title+'</a>'
                            dd+=' </li> '
                        }
                        if(index>6&&index<=9){
                            ff+=' <li >'
                            ff+=' <i></i><a href='+obj.url+'>'+obj.title+'</a>'
                            ff+=' </li> '
                        }
                    })
                    $("#redian").html(dd);
                    $("#huodong").html(ff);

                },
                error : function() {
                    alert("今日httpClient访问次数用完");
                }
            });
        }
        function pinjie(){
            var name=$("#vipname").val();
            var img=$("#vipheadimg").val();
            var div="";
            var div2='<img src="'+img+'" class="layui-nav-img">';

            div +=  '<div class="logined" style="display: block;">'
            div +=  '<div class="logined-user-info">'

            div +=  '<a href="http://blog.sina.com.cn/u/7029166002" suda-uatrack="key=2018_blog_index&amp;value=my_img" target="_blank"><img src="'+img+'" alt=""></a>'
            div +=  '<a class="logined-name" target="_blank" suda-uatrack="key=2018_blog_index&amp;value=my_name" href="http://blog.sina.com.cn/u/7029166002">'+name+'</a>'
            div +=  '<a class="logout-btn" suda-uatrack="key=2018_blog_index&amp;value=my_signout" href="javascript:clearSession();">退出</a>'
            div +=  '</div>'
            div +=  '<ul>'
            div +=  '<li>'
            div +=  '</li>'
            div +=  '<li>'
            div +=  '</li>'
            div +=  '<li>'
            div +=  '</li>'
            div +=  '</ul>'
            div +=  '<div class="logined-bottom-btn">'
            div +=  '<a class="to-set-interest" suda-uatrack="key=2018_blog_index&amp;value=my_setting" href="#feed">兴趣设置</a>'
            div +=  '<a class="write-blog" target="_blank" suda-uatrack="key=2018_blog_index&amp;value=my_newblog" href="/toView?url=WriteWeibo" target="_blank">写博客</a>'
            div +=  '</div>'
            div +=  '</div>'
            $("#divid").html(div);
            $("#imgid").html(div2);
        }
        function denglu(){

            $.ajax({
                url:"/login/login",
                type:"POST",
                async:true,
                data:$("#newsBd").serialize(),
                success:function(result){
                    if(result==2){
                        alert("账号或密码错误");
                    }
                    if(result==1){
                        pinjie();
                        location.reload();
                 }

                },
                error:function(){
                    alert("失败了");
                }
            });
        }
        function tcpinjie(){
            var div =""
            div += '<div class="login-info" data-sudaclick=blog_user>'
            div += '<div class="not-login">'
            div += '<p>新浪博友，欢迎回来！</p>'
            div += '<form id="newsBd">'
            div += '<input id="loginName" type="text" name="vipaccount" autocomplete="off" placeholder="微博/博客/邮箱/手机号">'
            div += '<input id="loginPassword" type="password" name="vippassword" autocomplete="off" placeholder="请输入密码">'
            div += '</form>'
            div += '<div class="btn-row">'
            div += '<div class="jfl">'
            div += '<a id="submit-btn" suda-uatrack="key=2018_blog_index&value=my_signin" class="login-btn" href="javascript:denglu();">登录</a>'
            div += '</div>'
            div += '<div class="jfr">'
            div += '<input suda-uatrack="key=2018_blog_index&value=my_signin_save" id="auto" value="true" type="checkbox" name="auto" >'
            div += '<label suda-uatrack="key=2018_blog_index&value=my_signin_save" for="auto"><span>下次自动登录</span></label>'
            div += '</div>'
            div += '</div>'
            div += '<div class="logined">'
            div += '</div>'
            div += '</div>'
            div += '</div>'

            $("#divid").html(div)
        }

        function clearSession() {

            $.ajax({
                url: "/login/clearSession",
                type: "POST",
                success: function (data) {

                    tcpinjie();
                },

                error: function () {
                    alert("失败了");
                }
            });
        }


        layui.use('element', function(){
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            //监听导航点击
            element.on('nav(demo)', function(elem){
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
      /*VIP语录查询*/
        function getVipYuLu() {
            $.ajax({
            		url:"/getVipYuLu",
            		type:"POST",
            		success:function(result){
            		    var count="";
            		    $.each(result,function(index,obj){
            		        if(index<5){
            		            count+='<li>';
            		            count+='<a href="javascript:void(0)">';
            		            count+='<img src="'+obj.vipheadimg+'" alt="'+obj.vipname+'"></a>';
            		            count+='<div><p><a href="javascript:void(0)" target="_blank">'+obj.text+'</a></p>';
            		            count+='<span><a href="http://blog.sina.com.cn/u/2737992103" target="_blank">'+obj.vipname+'</a></span></div></li>';
                            }
                        })
                        count+='<div><input type="text" class="form-control" name=\'text\' placeholder="输入建议" style="width: 250px;height: 30px">\n' +
                            '<button type="button" class="btn btn-success" onclick="addJIanYi()" style="width: 62px;height: 34px">发送</button> </div>';
                        $("#ul2").html(count);
            		   	console.log(result);
            		},
            		error:function(){
            			alert("失败了");
            		}
            		})
        }
      /*每日精选*/
      function getYuLe2(){
          $.ajax({
          		url:"/getYuLe2",
          		type:"POST",
          		success:function(result){
          		    console.log(result);
          		    var count="";
          		    $.each(result,function(index,obj){
          		        if(index<5){
                            count+='<li><i class="top-bg">'+(index+1)+'</i>';
                            count+='<a href="/title/toshowInfo?name='+obj.tablename+'&id='+obj.id+'" target="_blank">';
                            count+='<span>'+obj.title+'</span>';
                            count+=' </a></li>';
                        }
                        $("#ul9").html(count);
                    })
          		},
          		error:function(){
          			alert("失败了");
          		}
          		})
      }
      function gettiyu2(){
          $.ajax({
          		url:"/gettiyu2",
          		type:"POST",
          		success:function(result){
          		    console.log(result);
                    var count="";
                    $.each(result,function(index,obj) {
                        if (index < 5) {
                            count += '<li><i class="top-bg">' + (index + 1) + '</i>';
                            count += '<a href="/title/toshowInfo?name=' + obj.tablename + '&id=' + obj.id + '" target="_blank">';
                            count += '<span>' + obj.title + '</span>';
                            count += ' </a></li>';
                        }
                    })
                    $("#ul8").html(count);
          		},
          		error:function(){
          			alert("失败了");
          		}
          		})
      }
      function getcaijing2(){
          $.ajax({
          		url:"/getcaijing2",
          		type:"POST",
          		data:$("form").serialize(),
          		success:function(result){
          		    console.log(result);
                    var count="";
                    $.each(result,function(index,obj) {
                        if (index < 5) {
                            count += '<li><i class="top-bg">' + (index + 1) + '</i>';
                            count += '<a href="/title/toshowInfo?name=' + obj.tablename + '&id=' + obj.id + '" target="_blank">';
                            count += '<span>' + obj.title + '</span>';
                            count += ' </a></li>';
                        }
                    })
                        $("#ul7").html(count);

          		},
          		error:function(){
          			alert("失败了");
          		}
          		})
      }
      function getjunshi2(){
          $.ajax({
          		url:"/getjunshi2",
          		type:"POST",
          		data:$("form").serialize(),
          		success:function(result){
          		    console.log(result);
                    var count="";
                    $.each(result,function(index,obj) {
                        if (index < 5) {
                            count += '<li><i class="top-bg">' + (index + 1) + '</i>';
                            count += '<a href="/title/toshowInfo?name=' + obj.tablename + '&id=' + obj.id + '" target="_blank">';
                            count += '<span>' + obj.title + '</span>';
                            count += ' </a></li>';
                        }
                    })
                   $("#ul6").html(count);
          		},
          		error:function(){
          			alert("失败了");
          		}
          		})
      }
       /*新增建议*/
        function addJIanYi(){
            $.ajax({
            		url:"/addJIanYi",
            		type:"POST",
                    data:{text:$("[name='text']").val()},
            		success:function(result){
            		    if(result==1){
                            location.reload()
                        }else if(result==3){
            		        layer.msg("包含敏感字符")
                        }
            		    else{
                            var truthBeTold = window.confirm("去登陆");
                            if (truthBeTold) {
                                location.href='/toView?url=Wopop';
                            }
                        }

                    },
            		error:function(){
            			alert("失败了");
            		}
            		})
        }
        /*每周人气榜开始*/
        function meizhourenqi(){
            $.ajax({
            		url:"/meizhourenqi",
            		type:"POST",
            		success:function(result){
            		    var count='';
            		    $.each(result,function(index,obj){
                          count+='<li><i class="top-bg">'+(index+1)+'</i>';
                          count+='<a href="javascript:void(0)" >';
                          count+='<img src="'+obj.vipheadimg+'">';
                          count+='<span>'+obj.vipname+'</span>';
                          count+='</a></li>';
                        })
                        $("#ul5").html(count);
            		},
            		error:function(){
            			alert("失败了");
            		}
            		})
        }
        /*每周人气榜结束*/

        //导航栏
        function queryDaoHang() {
            $.ajax({
                url:"/title/queryTitle",
                type:"POST",
                async:false,
                success:function(result){
                    var dh=""
                    $.each(result,function(index,obj){

                        dh+='<li >';
                        if(obj.turl!=""){
                            dh+='<a target="_blank" href="/toView?url='+obj.turl+'">'+obj.tname+'</a>';
                        }else{
                            dh+='<a target="_blank" href="javascript:to404()">'+obj.tname+'</a>';
                        }
                        dh+='</li>';


                    })
                    dh+='<li class="sub-nav">';
                    dh+='<a class="rank-nav" href="javascript:void(0);">排行榜<i></i></a>';
                    dh+='<ul class="down-list">';
                    dh+='<li>';
                    dh+='<a target="_blank" href="/toView?url=index"><span>博文排行</span></a>';
                    dh+='</li></ul></li>';
                    $("#daoHangId").html(dh);

                },
                error:function(){
                    alert("失败了");
                }
            });
        }

        function to404() {
            alert("页面维护中...");
        }

        //充值跳转
        function chongJump(flag){
            var userid=$("#vipid").val();

            if(userid==""){
                alert("请登录")
            }else{
                if(flag==1){
                    location.href="/toView?url=pay_huiyuan";
                }
                if(flag==2){
                    location.href="/toView?url=pay_jifen";
                }
                if(flag==3){
                    location.href="/toView?url=pay_yue";
                }
            }

        }
    </script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!-- 360 启动急速模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <!--[if IE]>
    <script src="http://n.sinaimg.cn/blog/lib/es5-shim.min.js"></script>
    <script src="http://n.sinaimg.cn/blog/lib/es5-sham.min.js"></script>
    <![endif]-->
    <script src="http://n.sinaimg.cn/blog/lib/es6-promise.min.js"></script>


    <!--
        926/930
        <link href="http://mjs.sinajs.cn/blog/items/2018/blogIndex/css/index-e0b2f3.css" rel="stylesheet">
    -->
    <link href="http://mjs.sinajs.cn/blog/items/2018/blogIndex/css/index-353978.css" rel="stylesheet">

</head>

<body>
<input type="hidden" th:value="${session.user?.vipaccount}" id="hid">
<input type="hidden" th:value="${session.user?.vipname}" id="vipname">
<input type="hidden" th:value="${session.user?.vipheadimg}" id="vipheadimg">
<input type="hidden" th:value="${session.user?.id}" id="vipid">



<script src="http://n.sinaimg.cn/blog/0977ce10/20180408/jsload.js"></script>
<script>document.domain = "sina.com.cn";</script>
<script>
    var __scope__ = {
        updateBrowserLink : 'http://dl.pconline.com.cn/download/51614-1.html'//浏览器推荐下载地址
    }
</script>
<script>
    (function(w){
        // 消息总线，应对与不同组建之间，状态交互。
        function MsgBus() {
            this.eventInfo = {};
        }
        MsgBus.prototype.subscribe = function(name,cb,ctx){
            if(Object.prototype.toString.call(name) !== '[object String]'){
                throw new Error('arguments error , name must be a String type');
            }
            if (Object.prototype.toString.call(cb) !== '[object Function]') {
                throw new Error('arguments error , cb must be a Function type');
            }
            if(!this.eventInfo[name]){
                this.eventInfo[name] = [];
            }
            this.eventInfo[name].push({
                cb:cb,
                ctx:ctx || null
            });
        }
        MsgBus.prototype.publish = function(name){
            var args = Array.prototype.slice.call(arguments,1);
            if(this.eventInfo[name]){
                for(var i = 0; i< this.eventInfo[name].length;i++){
                    this.eventInfo[name][i].cb.apply(this.eventInfo[name][i].ctx,args);
                }
            }
        }
        MsgBus.prototype.off = function(name,cb){
            if(this.eventInfo[name] && !cb){
                this.eventInfo[name] = [];
            }else{
                for (var i = 0; i < this.eventInfo[name].length; i++) {
                    if(cb === this.eventInfo[name][i].cb){
                        this.eventInfo[name].splice(i,1);
                    }
                }
            }
        }
        w.msgBus = new MsgBus();
    })(window);
</script>
<script>
    var jsAssets = {
        'jq':'http://i0.sinaimg.cn/dy/js/jquery/jquery-1.7.2.min.js',
        'outloginLayer':'http://i.sso.sina.com.cn/js/outlogin_layer.js',
        'userPanel':'http://i.sso.sina.com.cn/js/user_panel_new_version_v2.js',
        'ssoLogin':'http://tech.sina.com.cn/js/717/20140827/index2014/top.js',
        'topNav':'http://n.sinaimg.cn/common/channelnav/js/nav.js'
    };



</script>


<!-- 导航 -->
<div class="nav" data-sudaclick=blog_nav style="background-color: black;margin-top: 0px" >
    <div class="wrapper">

        <div style="margin-left: 180px" >
        <ul class="nav-list" id="daoHangId">


        </ul>
        </div>

        <script>
            // 添加滚动事件
            jsLoader(jsAssets.jq, function () {
                //nav交互内容
                $('.nav-list>li a').mouseenter(function () {
                    $(this).addClass('active');
                }).mouseleave(function () {
                    $(this).removeClass('active');
                });
                $('.nav .sub-nav').mouseenter(function(){
                    $(this).find('.down-list').show();
                }).mouseleave(function () {
                    $(this).find('.down-list').hide();
                });
                $('.sub-nav .down-list a').mouseenter(function(){
                    $(this).addClass('active');
                }).mouseleave(function(){
                    $(this).removeClass('active');
                });
            });







        </script>
        <div class="blog-map">

            <!---------评论反馈-------------->
            <div style="background-color: #0000FF;width: 300px" >
                <ul class="layui-nav" style="height: 55px;background-color: black">

                    <li class="layui-nav-item" lay-unselect="" ><div style="margin-top: 15px" id="imgid"></div></li>
                    <li class="layui-nav-item" lay-unselect="" >
                        <div style="float: left"><span class="layui-badge" id="spanid">0</span></div>
                        <div style="float: left;margin-left: 25px"><a href="javascript:;">评论</a></div>
                        <dl class="layui-nav-child" id="pinglunid">


                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);">充值中心</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:void(0)" onclick="chongJump(1)"><font color="black">充VIP</font></a></dd>
                            <dd><a href="javascript:void(0)" onclick="chongJump(2)"><font color="black">充积分</font></a></dd>
                            <dd><a href="javascript:void(0)" onclick="chongJump(3)"><font color="black">充余额</font></a></dd>

                        </dl>
                    </li>

                </ul>
            </div>

        </div>
            <!------------------------------------>



        <div class="search">
            <div class="row">
                <div id='search-type-selector' data-val="article" class="label">
                    <span>博文</span><i></i>
                    <ul class="sub-label">
                        <li data-val="article">
                            <span>博文</span>
                        </li>
                        <li data-val="title">
                            <span>标题</span>
                        </li>
                        <li data-val="author">
                            <span>作者</span>
                        </li>
                        <li data-val="tag">
                            <span>标签</span>
                        </li>
                    </ul>
                </div>
                <div class="search-input">
                    <input id="search" type="text" placeholder="搜索内容" autocomplete="off"><i suda-uatrack="key=2018_blog_index&value=blog_nav_search"></i>
                    <ul class="sub-input first-view-search">
                        <!-- 首屏热搜 -->
                    </ul>
                    <ul class="sub-input sec-view-search">
                        <!-- 用户检索联想 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 导航结束 -->

<!-- 主体内容 -->
<div class="wrapper clearfix">
    <div class="blog-left">
        <!-- 活动专区 -->
        <div class="left-rec" data-sudaclick="blog_activity">
            <div class="l-title-1">
                <i class="l-line"></i>
                <h3>活动专区</h3>
                <i class="r-line"></i>
            </div>
            <div class="img"><a  href="http://blog.sina.com.cn/s/blog_496b2a650102y04o.html?tj=1" target="_blank">
                <img  src="http://n.sinaimg.cn/blogapp/334/w200h134/20190121/Mrrl-hryfqhk2748362.jpg" />
            </a>
            </div>
            <ul id="huodong">
            </ul>

        </div>
        <!-- 活动专区结束 -->
         <!--人气排行-->
        <div class="week-hot-user" data-sudaclick="blog_weekhot">
            <div class="l-title-1">
                <i class="l-line"></i>
                <h3>每周人气排行</h3>
                <i class="r-line"></i>
            </div>
            <ul id="ul5">

            </ul>
        </div>
        <!--领域热文排行-->
        <div class="hot-rank">
            <div class="l-title-1">
                <i class="l-line"></i>
                <h3><a href="http://blog.sina.com.cn/lm/rank/" target="_blank">领域热文排行</a></h3>
                <i class="r-line"></i>
            </div>
            <ul class="tab">
                <li data-index="0" class="active">娱乐</li>
                <li data-index="1">体育</li>
                <li data-index="2">财经</li>
                <li data-index="3" class="last">军事</li>
            </ul>

             <!--娱乐-->
            <ul class="art-list" data-sudaclick="blog_enthot" id="ul9">

            </ul>
             <!--娱乐结束-->

             <!--文化-->
            <ul id="ul8" class="art-list" data-sudaclick="blog_culhot" style="display: none;">

            </ul>
            <!--文化结束-->

            <!--感情-->
          <ul id="ul7" class="art-list" data-sudaclick="blog_eladieshot" style="display: none;">

          </ul>
           <!--感情结束-->

          <!-- 图片 -->
            <ul id="ul6" class="art-list" data-sudaclick="blog_pichot" style="display: none;">

            </ul>
            <!-- 图片结束 -->
        </div>

    </div>

    <div class="blog-container">
        <div>
            <div class="blog-center">
                <!-- 滚动区域 -->
                <div class="slider main-slider" data-sudaclick=focus_pic>

                      <ul id="slider">

                      </ul>
                    <a class="left-arr" suda-uatrack="key=2018_blog_index&value=focus_slide" href="javascript:void(0);"></a>
                    <a class="right-arr" suda-uatrack="key=2018_blog_index&value=focus_slide" href="javascript:void(0);"></a>
                </div>
                <!-- 滚动区域结束 -->
            </div>
            <div class="blog-right">
                <!-- 登录信息 -->
                <div id="divid">

                </div>
                <!-- 登录信息结束 -->
                <!--用户建议-->
                <div class="b-user-talk" data-sudaclick="blog_dks">
                    <h3>用户建议</h3>
                    <ul id="ul2">

                    </ul>
                </div>
                <!-- 每日图说 -->
                <div class="b-img-talk" data-sudaclick=blog_pic_03 style="margin-top: 20px">
                    <h3>
                        <a href="http://blog.sina.com.cn/lm/pic/" target="_blank">每日图说</a>
                        <a class="more" href="http://blog.sina.com.cn/lm/pic/" target="_blank"></a>
                    </h3>
                    <a  href="http://blog.sina.com.cn/s/blog_774dd74f0102zbrr.html?tj=1" target="_blank">
                        <img  src="http://n.sinaimg.cn/blogapp/transform/520/w320h200/20190307/0T0b-htwhfzt1577409.jpg" />
                    </a>
                    <p class="title"><a href="http://blog.sina.com.cn/s/blog_774dd74f0102zbrr.html?tj=1" target="_blank">到成都不得不去的杜甫草堂</a>
                    </p>
                    <p class="des"><a href="http://blog.sina.com.cn/s/blog_774dd74f0102zbrr.html?tj=1" target="_blank">杜甫草堂是唐代大诗人杜甫流寓成都时的故居，杜甫先后在此居住4年，创作诗歌240首。</a>
                    </p>
                </div>
                <!-- 每日图说结束 -->
            </div>
        </div>

        <div class="clearfix">
            <div class="blog-center">
                <!-- feed start -->
                <script type="text/javascript">
                    //TODO: 全局feed对象 信息
                    var FEED_CARD_INFO = {
                        //feed 的pageid
                        pageId:143,
                        num:30,//feed 单次请求长度
                        feedWidth:640,//feed展示宽度
                        imgMargin:8,//组图中的图片左右间距
                        //兴趣设置参数
                        subCateID: 100,//只有这个来记录用户订阅的顺序
                        //固定首个位置
                        firstTab: {
                            txt: '全部',
                            lid: 2942
                        },
                        //默认
                        tabs: [2942, 2883, 2907, 2887, 2901, 2911, 2900],
                        //全部
                        allTabs: [2942, 2883, 2907, 2887, 2901, 2911, 2900, 2888, 3086, 2896, 2903, 2902, 2912, 2889, 2885, 2886, 2892, 2895, 2893, 2894, 2890, 2905, 2891, 2909, 2908, 2910, 2898, 2884, 2904, 2897, 2906, 2899], //全部, 故事, 时评, 旅游, 影视, 文学, 八卦, 美食, 见闻, 文艺, 情感, 心理学, 人文, 摄影, 书评, 历史, 知识, 健身, 穿搭, 美妆, 健康, 育儿, DIY, 科技, 财经, 体育, 二次元, 诗歌, 青春, 游戏, 教育, 星座
                        tabInfos: {
                            tab_2883:{
                                txt: '故事',
                                lid: 2883
                            },
                            tab_2907:{
                                txt: '时评',
                                lid: 2907
                            },
                            tab_2887:{
                                txt: '旅游',
                                lid: 2887
                            },
                            tab_2901:{
                                txt: '影视',
                                lid: 2901
                            },
                            tab_2911:{
                                txt: '文学',
                                lid: 2911
                            },
                            tab_2900:{
                                txt: '八卦',
                                lid: 2900
                            },
                            tab_2888:{
                                txt: '美食',
                                lid: 2888
                            },
                            tab_3086:{
                                txt: '见闻',
                                lid: 3086
                            },
                            tab_2896:{
                                txt: '文艺',
                                lid: 2896
                            },
                            tab_2903:{
                                txt: '情感',
                                lid: 2903
                            },
                            tab_2902:{
                                txt: '心理学',
                                lid: 2902
                            },
                            tab_2912:{
                                txt: '人文',
                                lid: 2912
                            },
                            tab_2889:{
                                txt: '摄影',
                                lid: 2889
                            },
                            tab_2885:{
                                txt: '书评',
                                lid: 2885
                            },
                            tab_2886:{
                                txt: '历史',
                                lid: 2886
                            },
                            tab_2892:{
                                txt: '知识',
                                lid: 2892
                            },
                            tab_2895:{
                                txt: '健身',
                                lid: 2895
                            },
                            tab_2893:{
                                txt: '穿搭',
                                lid: 2893
                            },
                            tab_2894:{
                                txt: '美妆',
                                lid: 2894
                            },
                            tab_2890:{
                                txt: '健康',
                                lid: 2890
                            },
                            tab_2905:{
                                txt: '育儿',
                                lid: 2905
                            },
                            tab_2891:{
                                txt: 'DIY',
                                lid: 2891
                            },
                            tab_2909:{
                                txt: '科技',
                                lid: 2909
                            },
                            tab_2908:{
                                txt: '财经',
                                lid: 2908
                            },
                            tab_2910:{
                                txt: '体育',
                                lid: 2910
                            },
                            tab_2898:{
                                txt: '二次元',
                                lid: 2898
                            },
                            tab_2884:{
                                txt: '诗歌',
                                lid: 2884
                            },
                            tab_2904:{
                                txt: '青春',
                                lid: 2904
                            },
                            tab_2897:{
                                txt: '游戏',
                                lid: 2897
                            },
                            tab_2906:{
                                txt: '教育',
                                lid: 2906
                            },
                            tab_2899:{
                                txt: '星座',
                                lid: 2899
                            }
                        }
                    }
                </script>
                <!-- 大话历史 -->
                <div class="channel" data-sudaclick=rcmd_cul>
                    <h3>热点新闻</h3>
                    <div class="title">
                        <a class="dahualishi" href="" target="_blank"></a>
                        <a class="more" href="http://blog.sina.com.cn/lm/history/" target="_blank"></a>
                    </div>
                    <ul id="redian">

                    </ul>
                </div>
                <!-- 大话历史 结束 -->
            </div>
        </div>
    </div>
</div>
<!-- 主体内容结束 -->

<script type="text/javascript" src="http://mjs.sinajs.cn/blog/items/2018/blogIndex/js/manifest-0fea88.js"></script>
<script type="text/javascript" src="http://mjs.sinajs.cn/blog/items/2018/blogIndex/js/vendor-46a2e2.js"></script>
<script type="text/javascript" src="http://mjs.sinajs.cn/blog/items/2018/blogIndex/js/index-568c95.js"></script>

</body>

</html>