<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Wopop</title>
<script src="/js/jquery-2.1.1.min.js"></script>
<link href="/js/Wopop_files/style_log.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/js/Wopop_files/style.css">
<link rel="stylesheet" type="text/css" href="/js/Wopop_files/userpanel.css">
<link rel="stylesheet" type="text/css" href="/js/Wopop_files/jquery.ui.all.css">
<script type="text/javascript" th:inline="none">
    function denglu(){
        $.ajax({
            url:"/login/login",
            type:"POST",
            async:true,
            data:$("#login").serialize(),
            success:function(result){
                if(result==2){
                    alert("账号或密码错误");
                }
                if(result==1){
                    location.href="/toView?url=index";

                }
            },
            error:function(){
                alert("失败了");
            }
        });
    }
</script>

</head>

<body class="login" mycollectionplug="bind">
<div class="login_m">
<div class="login_boder">

<div class="login_padding" id="login_model">
    <form id="login">
  <h2>USERNAME</h2>
  <label>
    <input type="text" id="vipaccount"name="vipaccount" class="txt_input txt_input2">
  </label>
  <h2>PASSWORD</h2>
  <label>
    <input type="password" name="vippassword" id="userpwd" class="txt_input">
  </label>
    </form>
  <div class="rem_sub">
  <div class="rem_sub_l">

   </div>
    <label>
      <input type="button" class="sub_button" value="登录" onclick="denglu()" style="opacity: 0.7;">
    </label>
  </div>
</div>


<div id="forget_model" class="login_padding" style="display:none">
<br>

   <h1>Forgot password</h1>
   <br>
   <div class="forget_model_h2">(Please enter your registered email below and the system will automatically reset users’ password and send it to user’s registered email address.)</div>
    <label>
    <input type="text" id="usrmail" class="txt_input txt_input2">
   </label>

 
  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
     <input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now" style="opacity: 0.7;">
     　　　
     <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">　　
    
    </label>
  </div>
</div>
</div>
</div>
 <br> <br>



</body></html>